@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');
main{
    background-color: #495E57;
    color: white;
    font-family: 'Karla';
    min-height: 150px;
}
.alternate h1{
    color: black;
}
h1{
    color: #F4CE14;
    font-family: 'Markazi Text';
    margin-left: 20%;
    padding-top: .67em;
    margin-top:0%;
    font-size: 2em;
}
.alternate{
    background-color:white;
    color:black;
}

.content{
    margin-left: 20%;
}

.cards,.cards4{
    padding: 0% 10%;
}
@media (max-width: 1000px) {
    .specialMenu{
        font-size: 1em;
    }
}
@media (min-width:1000px) or (max-width:700px){
    .testimony{
        display:grid;
        grid-template-areas:"profile rating" "review review";
        grid-template-columns:1fr 1fr;
    }
    .profile{
        grid-area:profile;
    }
    .rating{
        grid-area:rating;
    }
    .review{
        grid-area:review;
    }
}
@media (max-width: 700px) {
    .cards{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .cards4{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: repeat(4,1fr);
    }
    .specialMenu{
        font-size: 1.5em;
    }
}
@media (min-width: 701px) {
    .cards{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .cards4{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows: auto;
    }
}
